@config "../../tailwind.config.ts";
@plugin "@tailwindcss/typography";
@import 'tailwindcss';

@layer utilities {
  /* Hide scrollbar but keep scrolling */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/old Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
  }
}

html {
  scroll-behavior: smooth;
}